@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .print3r-card {
        @apply flex relative bg-p3-blue mb-4 rounded-lg p-6 border-solid border-p3-border border-2;
    }
}

@font-face {
    font-family: 'Poppins';
    src: url(src/fonts/poppins);
}

@font-face {
    font-family: 'Inter';
    src: url(src/fonts/inter);
}

@font-face {
    font-family: 'Nunito';
    src: url(src/fonts/nunito);
}